* {
	font-family: 'Roboto', sans-serif;
}

#headers {
	border: 1px solid lightgreen;
	display: flex;
	justify-content: space-between;
}
.logo {
	border: 1px solid red;
}
.menu {
	border: 1px solid blue;
}
.menu ul {
	list-style-type: none;
	border: 1px solid orange;
	display: inline-block;
	justify-content: space-evenly;
	display: flex;
	padding-left: 0;
}
.menu ul li {
	margin: 10px 10px 10px 10px;
	border: 1px solid pink;
}
#main {
	border: 1px solid yellow;
	display: flex;
}

#main > div {
	width: 50%;
	border: 1px solid green;
	background-color: #f9fafc;
}

.description {
	border: 1px solid violet;
}

.description ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding-left: 0;
	width: 100px;
}

.description ul li {
	margin: 5px 5px 5px 5px;
}

.join-club-button {
	background-color: #323433;
	color: white;
	padding: 15px 32px;
	text-align: center;
	font-weight: bolder !important;
}

main div img {
	max-width: 100%;
}

main div h1 {
	font-weight: bolder !important;
}

.countdown-timer {
	display: flex;
	justify-content: space-between;
	width: 50px;
}

footer {
	border: 2px solid blueviolet;
	display: flex;
	justify-content: space-between;
}

.sale-button {
	background-color: #de6a6a;
	color: white;
	padding: 15px 32px;
	text-align: center;
	font-weight: bolder !important;
}
